<!DOCTYPE html>
<html>
  <head>
    <title>BookAnAppointmentWebapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="nav">
      <%= link_to 'Stay in touch', root_path %>
      <div class="menu">
        <div class="menu-item">
          <%#= menu_link_to 'All users', client_index_path %>
        </div>
        <div class="menu-item">
          <% if current_client %>
            <p>  </p>
          <% end %>
        </div>
      </div>
      <% if current_client %>
        <%= link_to 'Sign out', destroy_client_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', client_session_path %>
      <% end %>
    </nav>
    <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
